if success_message.length > 0
    .alert.alert-success.alert-dismissible.alert-label-icon.rounded-label.fade.show(role='alert')
        i.ri-check-double-line.label-icon
        strong Great
        |  - #{ success_message }
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')