.align-right{float: right;}
.listjs-pagination {
    margin-bottom: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 0px;
}
.listjs-pagination li .page {
    display: block;
    padding: 0.375rem 0.75rem;
    color: var(--vz-link-color);
    background-color: var(--vz-card-bg);
    border: 1px solid var(--vz-border-color);
    border-radius: 0px;
}